<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
</head>
<body>

<h2>Créer un compte</h2>

<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/auth/register}" th:object="${user}" method="post">

    <label>Nom :</label>
    <input type="text" th:field="*{nom}" required>

    <label>Prénom :</label>
    <input type="text" th:field="*{prenom}" required>

    <label>Email :</label>
    <input type="email" th:field="*{email}" required>

    <label>Mot de passe :</label>
    <input type="password" th:field="*{motDePasse}" required>

    <button type="submit">Créer un compte</button>
</form>

<p><a th:href="@{/auth/login}">Déjà un compte ? Connexion</a></p>

</body>
</html>
